@charset "utf-8";

/* 
    Author: Chad Williams
    Date: 11/1/18
    Purpose: Main CSS for My Portfolio Index.
*/

@font-face {
    font-family: "overpass";
    src: url('./overpass/overpass-bold.otf')
}

@import url('https://fonts.googleapis.com/css?family=Arimo');
/* font-family: 'Arimo', sans-serif; */

/* Structural Styles */
body {
    background-color: antiquewhite;
    font-family: 'Arimo', sans-serif;
}

/* End Structural Styles */
/* Main Content Structure */
#maincontent {
    clear: both;
    width: 72%;
    float: right;
}

/* End Main Content Structure */

/* Intro Styles */
#intro {
    background-color: antiquewhite;
    min-height: 750px;
}

/* End Intro Styles */
/* Header Styles */
header {
    width: 72%;
    float: right;
    height: 100%;
    box-shadow: rgb(51, 51, 51) 10px 0px 30px;
}

header h1 {
    position: absolute;
    font-size: 9.8em;
    margin: 0px;
    display: block;
    text-transform: uppercase;
    width: 72%;
}

h1 {
    width: 50%;
}

h1 span {
    width: 100%;
    font-family: 'Overpass', sans-serif;
    height: 100%;
}

#span2 {
    text-align: right;
    float: right;
}

/* End Header Styles */

/* Nav Styles */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    width: 28%;
    height: 100%;
    padding: 3%;
    overflow: hidden;
    padding-top: 20%;
}

nav a {
    display: block;
    width: 8%;
    text-decoration: none;
    color: black;
    font-size: 1.4em;
    line-height: 30px;
}

/* No longer needed thanks to nav animation in linkhover.css */
/* nav a:hover,
nav a:active {
    text-decoration: underline;
} */
/* End Nav Styles */

/* About Styles */
#about {
    clear: both;
}

/* End About Styles */
/* Work Styles */
#work {
    clear: both;
}

/* End Work Styles */